#todayContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#dateLocationHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 10px;

    .header {
        font-size: 2.4rem;
        font-weight: 600;
    }

    .subHeader {
        font-size: 1.3rem;
        font-weight: 500;
    }
}

#todayWeatherInfoContainer {
    display: flex;
    flex-direction: row;
    padding: 25px;
    column-gap: 75px;

    align-items: center;
}

#mainWeatherInfo {
    #temperatureInfo {
        display: flex;
        flex-direction: row;
        font-size: 3rem;
        column-gap: 10px;
    }

    #mainText {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        row-gap: 5px;

        div {
            font-size: 1.1rem;
        }

        #conditions {
            font-size: 1.4rem;
        } 
    }
}

#infoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.gridItem {
    text-align: center;
    .itemLabel {
        font-size: 1.2rem;
    }

    .itemContent {
        font-size: 1.7rem;
    }
}

#precipInfo {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
}

#precipType {
    text-transform: capitalize;
}

#week-forecast {
    margin: 50px;
    .header {
        font-size: 2.2rem;
        font-weight: 600;
        text-align: center;
    }

    #forecast-table {
        padding: 30px;
        row-gap: 30px;
        display: flex;
        flex-direction: column;
    }
}

.tableRow {
    display: grid;
    grid-template-columns: 200px 200px 75px 100px;
    font-size: 1.3rem;
    font-weight: 600;

    .row-forecast {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
    }

    .row-temp-low, .row-temp-high {
        opacity: 0.5;
    }

}

@media (max-width: 992px) {
    #todayContentContainer {
        padding: 15px 30px;
    }

    #todayWeatherInfoContainer {
        flex-direction: column;
        row-gap: 40px;
    }

    #mainWeatherInfo {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        align-items: center;
    }
}

@media (max-width: 592px) {
    #todayContentContainer {
        padding: 15px;
    }

    #dateLocationHeader {
        .header {
            font-size: 2rem;
        }
    }

    #mainWeatherInfo {
        display: flex;
        flex-direction: column;
    }

    .tableRow {
        display: grid;
        grid-template-columns: 200px 100px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "day min-temp"
        "temp max-temp";

        .row-day {
            grid-area: day;
        }

        .row-forecast {
            grid-area: temp;
        }

        .row-temp-low {
            grid-area: min-temp;
        }

        .row-temp-high {
            grid-area: max-temp;
        }
    }
    


}